{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<!--    <link rel=”stylesheet” href="{% static 'static/main.css' %}">-->
    <form action="compare" method="POST" class="test" >
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                    <label for="list_input_1">List A</label>
                    <textarea class="form-control" id="list_input_1" name="list_input_1" rows="8">{% if input_data_1 %}{{input_data_1}}{% endif %}</textarea>
                    </div>
                </div>
                <div class="col">
                    <label for="list_input_2">List B</label>
                    <textarea class="form-control" id="list_input_2" name="list_input_2" rows="8">{% if input_data_2 %}{{input_data_2}}{% endif %}</textarea>
                    <br>
                </div>
                <div class="col">
                    <div class="col" style="margin:35px" >
                    <button class="btn btn-primary" type="submit">Compare</button>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                        <label for="common_list">Common</label>
                        <textarea class="form-control" id="common_list" name="common_list" rows="8">{% if common_data %}{{common_data|join:"&#10;"}}{% endif %}</textarea>
                        <label class="label-tag">{% if common_data %}Count : {{common_count}}{% endif %}</label>
                </div>
                <div class="col">
                    <label for="unique_list">Unique</label>
                    <textarea class="form-control" id="unique_list" name="unique_list" rows="8">{% if unique_data %}{{unique_data|join:"&#10;"}}{% endif %}</textarea>
                    <label class="label-tag">{% if unique_num %}Count : {{unique_num}}{% endif %}</label>
                </div>
                <div class="col">
                    <label for="only1">Only in A</label>
                    <textarea class="form-control" id="only1" name="only1" rows="8">{% if only1_data %}{{only1_data|join:"&#10;"}}{% endif %}</textarea>
                    <label class="label-tag">{% if only1_num %}Count : {{only1_num}}{% endif %}</label>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}


