{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form action="format" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="prefix">Prefix</label>
                        <input id="prefix" class="form-control" name="prefix" placeholder="Left side" type="text" value="{% if pre_data %}{{pre_data}}{% endif %}">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Postfix</label>
                        <input class="form-control" name="suffix" placeholder="Right side" type="text" value="{% if post_data %}{{post_data}}{% endif %}">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Delimitor</label>
                        <input class="form-control" name="delimit" placeholder="Right side" type="text" value="{% if delimit_data %}{{delimit_data}}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="format_input">Input</label>
                        <textarea class="form-control" id="format_input" name="format_input" rows="5">{% if input_data %}{{input_data}}{% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <div class="textarea-container">
                            <label for="format_output">Output</label>
                            <textarea class="form-control" id="format_output" name="format_output" rows="5">{% if output_data %}{% for x in output_data %}{{x}}{% endfor %}{% endif %}</textarea>
                            <button type="button" class="label-tag" onclick="copytext()">Copy</button>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin:30px">
                    <div class="form-check">
                        <input class="form-check-input" name="SQL" type="checkbox" {% if sql_data %}checked{% endif %}/>
                        <label class="form-check-label">SQL Format</label>
                        <br>
                        <input class="form-check-input" name="inline" type="checkbox" {% if inline_data %}checked{% endif %}/>
                        <label class="form-check-label" >Inline</label>
                        <br>
                        <input class="form-check-input" id="Check3" type="checkbox" value="">
                        <label class="form-check-label" for="Check3">Check 3</label>
                        <br><br><br><br>
                    </div>
                </div>
                <div class="col" style="margin:10px" >
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
