{% extends 'base.html' %}
{% block content %}

<div class="container">
     <div align="right">
    <button type="button" class="btn btn-warning" style="text-decoration:none; margin:5px;"><a href="new" style="color:black;">Create Note</a></button>
<!--    <a href="new">Create Note</a>-->
     </div>
    <div class="row justify-content-start">
    {% for j in page_note %}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ j.name }}</h5>
                    <p class="card-text">{{ j.text }}</p>
                    <a href="edit?name={{ j.name }}" class="card-link">Edit</a>
                    <a href="delete_rec?name={{ j.name }}" class="card-link">Delete</a>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}