{% extends 'base.html' %}
{% block content %}
<!--{{insert_content}} -->
<div class="container">
    <form action="create" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Enter Text Name here</label>
            <input class="form-control" name="note_name" value=""/>
        </div>
        <div class="form-group">
            <label>Enter text here</label>
            <textarea class="form-control" name="note_text" rows="10"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock %}