{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% csrf_token %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Variable Name</th>
            <th scope="col">Path</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in path_data.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
