.textarea-container {
  position: relative;
}
.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.textarea-container button {
  position: absolute;
  top: 0;
  right: 0;
}

.textarea-container {
  position: relative;
}
.textarea-container textarea {
  box-sizing: border-box;
}
.textarea-container button {
  position: absolute;
  top: 0;
  right: 0;
}

.label-tag {
    background: transparent;
    border: 1px solid;
    font-size: 5px;
    color: #444;
    /* background: #eee; */
    margin:5px 5px;
    border-radius: 3px;
}
